html,body{
  font-family: calibri;
  margin: 0px;
  padding: 0px;
}
#map{
  position:absolute;
  width:80%;
  height:100%;
}

.grid-container{
  display:grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh;
}

.olControlLayerSwitcher {
  background-color: transparent;
  color: white;
  font-family: sans-serif;
  font-size: smaller;
  font-weight: bold;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-top: 3px;
  position: absolute;
  right: 0;
  top: 42px;
  width: 20em;
}

/* sidebar */
.sidebar{
  height:100%;
  margin: 0px;
  margin-left: 15px;
  margin-right: 15px;
  display:table;
}

.clickpolygon{
  font-size: 40px;
}

.polyproperties{
  display:grid;
}
.polyproperty{
  font-size: 25px;
}

.polyvalue{
  font-size: 25px;
}

.explanation{
  font-size: 20px;
}

.copyright{
  display:table-row;
  text-align: center;
  vertical-align: bottom
}